.home
  .header
    .header__title
      = link_to "#", class: "header__title__name" do
        チャットパーティ
    = link_to "#", class: "header__signout" do
      ログアウト
    = link_to "#", class: "header__switch-btn" do
      グループ
    = link_to "#", class: "header__mypage" do
      マイページ
  .categories
    -14 .times do
      = link_to "#", class: "categories__sort" do
        旅行
  .users
    -6. times do
      = render "shared/userProfile"
